@model UserLoginModel


@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutWithoutUserLoggedLogin";
}

<br />

@if (TempData["MessageSuccess"] is not null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-dark btn-sm close-alert" arial-label="Close">x</button>
        @TempData["MessageSuccess"]
    </div>
}

@if (TempData["MessageFailed"] is not null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-dark btn-sm close-alert" arial-label="Close">x</button>
        @TempData["MessageFailed"]
    </div>
}

<br />

<form class="vh-100 gradient-custom"  asp-controller="Login" asp-action="EnterLoginInApplication" >
    <div class="container py-5 h-100">


        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Welcome to HappyTicket</p>

                            <div class="form-outline form-white mb-4">
                                <input type="email" asp-for="Email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email" />
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" asp-for="Password" id="typePasswordX" class="form-control form-control-lg" placeholder="Password" />
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                            <div>
                                <br />
                            </div>

                            <p>It's new here?</p>
                            <button type="submit" class="btn btn-primary" asp-controller="User" asp-action="Index">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
